.container {
  height: calc(100%);
  margin-top: 2em;
  background: var(--backgroundImage);
  background-attachment: fixed;
  padding-top: 5em;
}

.container h2 {
  font-family: "megalomaniac";
  font-size: 2em;
  letter-spacing: 0.1em;
  margin: 0;
}

.container a {
  color: var(--text-primary);
}

.artistsContainer a:hover {
  color: var(--text-primary-hover);
}

.categoryHeader {
  width: 100vw;
  color: var(--text-primary);
  padding-bottom: 0.5em;
}

.categoryHeader h2 {
  font-weight: 500;
  font-family: "01digitall";
}

.artistsContainer {
  position: relative;
  margin: 1em;
  width: 42vh;
  height: 42vh;
  border-radius: 5%;
  background: var(--releaseContainerBg);
  box-shadow: 10px 5px 5px black;
}

.artistHeader {
  background-color: var(--releaseContainerBg);
  border-radius: 20px;
  padding: 0 0.3em;
}

.artistList {
  padding-top: 5em 2em;
  flex-direction: row;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 10em;
}

.artistsContainer h2 {
  position: absolute;
  bottom: 10px;
  left: 16px;
  z-index: 10;
  text-shadow: var(--text-shadowBg);
  font-family: "01digitall";
  font-size: 1.5em;
}

.artistsContainer img {
  width: 40vh;
  height: 36vh;
  overflow: hidden;
  z-index: 1;
  object-fit: contain;
  padding-top: 0.3em;
}

.thumbNailImage {
  border-radius: 30%;
}

.land {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 0;
}

@media (max-width: 800px) {
  .artistsContainer img {
    width: 11em;
    height: 13em;
    object-fit: cover;
  }

  .artistsContainer {
    width: 12em;
    display: flex;
    justify-content: center;
  }
}
