.Main {
  margin-top: 8em;
  height: 100dvh;
  overflow: hidden;
  /* background-image: url("../images/triangles1.svg"); */
  background-image: var(--backgroundImage);
  overflow: auto; /* Enable scrolling */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  /* transition: all 0.8s; */

  /* background-image: -o-linear-gradient(
    179.4deg,
    rgba(6, 7, 9, 0.443) -16.9%,
    rgba(117, 77, 130, 0.42) 119.9%
  ); */
  text-shadow: 1px 1px 10px red, 0em 0em 20px white, 0 0 0.1em black;
  font-family: "megalomaniac";
  letter-spacing: 1px;
  color: whitesmoke;
  font-size: clamp(1rem, 1vw, 1rem);
}

.CenterText {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  /* font-size: 2em; */
  flex-direction: column;
  align-items: center;
}

.h1 {
  font-family: "megalomaniac";
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
}
/* .lazyLoadImage {
  width: 2%;
  height: 100%;
  object-fit: cover;
  opacity: 22%;
} */

.calenderMobileLink {
  display: none;
}

/* .Container {
  font-family: "megalomaniac";
  font-size: 3.5rem;
  color: white;
  padding: 0;
  margin: 0 0 0 0;
  text-decoration: underline var(--accent);
  letter-spacing: 0.15rem;

  text-shadow: 5px 5px 10px black;
} */

.Container a {
  font-family: "helveticaNeue";
  /* font-size: 1.5em;
  text-shadow: none; */
}

/* .Container h2 {
  font-size: 2em;
  margin: 0 0.2em;
  padding: 0 1em 0.5em 1em;
  font-family: "helveticaNeue";
  max-width: 15em;
  text-shadow: var(--text-shadowBg);
} */
/* 
.Container {
  padding: 0.5em 0; */
/* display: grid;
  grid-template-columns: 40% 50% 10%;
  grid-template-rows: 1fr;
  gap: 0px 0px; */
/* display: flex;
  width: 100vw;
  height: 100vh;
  text-align: center;
} */

.iframeContainer {
  padding-top: 2em;
}

.marquee {
  height: 5em;
  width: 100%;
  overflow: hidden;
  position: absolute;
  margin: 1em 0 0 0;
  border: solid black 2px;
  border-radius: 10px;
  top: 3.5em;
  /* background: linear-gradient(179.4deg, rgba(6, 7, 9, 0.443) -16.9%, rgba(117, 77, 130, 0.42) 119.9%);
   */
  background: var(--accentTransp);
}

.latestAlbumDetails p {
  font-size: 1.25em;
  color: white;
  font-family: fantasy, serif;
  letter-spacing: 0.2em;
}

.thumbNailImage {
  object-fit: contain;
  width: 5em;
}

.marquee img {
  padding-top: 25px;
}

.marqueeText {
  color: white;
  font-family: "megalomaniac";
  letter-spacing: 0.15em;
  font-size: 1.2em;
  /* padding-bottom: 10px; */
}

.marqueeTextDate {
  color: white;
  font-family: "megalomaniac";
  letter-spacing: 0.15em;
  font-size: 1.2em;
  padding-top: 100px;
}

.marquee a {
  color: white;
  font-family: "megalomaniac";
  font-size: 1.7rem;
  letter-spacing: 0.15em;
  min-width: 20em;
  max-width: 22em;
}

.marqueeTextFirst {
  color: white;
  font-family: "megalomaniac";
  font-size: 1.7rem;
  letter-spacing: 0.15em;
  /* min-width: 30em;
  max-width: 33em; */
  color: red;
}

/* Time to run over screen and delay */
.marquee .marqueeone {
  animation: marquee 40s linear infinite;
}

.marquee .marqueetwo {
  animation: marquee 40s linear 20s infinite;
}

.marquee .marqueethree {
  animation: marquee 40s linear 40s infinite;
}

/* .marquee .marqueefour {
  animation: marquee 15s linear 12s infinite;
} */

/* even out the elements */
.marquee div {
  padding-top: 0.6em;
  position: absolute;
  width: 100%;
  left: 100%;
  height: 2.7em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.marquee:hover div {
  animation-play-state: paused;
}

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  /* background: linear-gradient(179.4deg, rgba(6, 7, 9, 0.443) -16.9%, rgba(117, 77, 130, 0.42) 119.9%); */
  background: var(--releaseContainerBg);
}

.mainLinks {
  border-radius: 10px;
  background: var(--accentTransp);
  /* position: absolute; */
  display: flex;
  flex-direction: row;
  bottom: 0;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  border: black 1px solid;
}

.mainLinksText p {
  display: flex;
  flex-direction: row;
  /* position: absolute; */
  bottom: 1em;
  color: white;
  font-size: 1.5rem;
  font-family: "01digitall";
}

.mainLinksText2 p {
  display: flex;
  position: absolute;
  top: 6em;
  color: white;
  font-size: 1.5rem;
  font-family: "01digitall";
  z-index: 103;
}

.mainLinks a {
  color: rgba(255, 255, 255, 0.689);
  padding: 0.2em 2em;
}

.mainLinksChild:nth-child(4):hover {
  color: rgb(74, 251, 233);
  box-shadow: 3px 3px rgb(74, 251, 233);
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.227);
}

.mainLinksChild:nth-child(2):hover {
  color: rgb(248, 37, 37);
  box-shadow: 3px 3px rgb(248, 37, 37);
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.227);
}

.mainLinksChild:nth-child(4):hover {
  box-shadow: 3px 3px rgb(226, 143, 0);
  color: rgb(226, 143, 0);
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.227);
}
.mainLinksChild:nth-child(5):hover {
  color: rgb(27, 198, 255);
  box-shadow: 3px 3px rgb(27, 198, 255);
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.227);
}
.mainLinksChild:nth-child(6):hover {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.227);
  color: rgb(83, 83, 250);
  box-shadow: 3px 3px rgb(83, 83, 250);
}
/* .mainLinksChild:nth-child(6):hover {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.227);
  color: rgb(29, 29, 240);
  box-shadow: 3px 3px rgb(83, 83, 250);
} */

/* add delay at the end of animation so you dont start while another div is going */
@keyframes marquee {
  0% {
    left: 100%;
  }
  50% {
    left: -140%;
  }
  100% {
    left: -160%;
  }
}

/* @media screen and (max-width: 700px) {
  .mainLinks {
    background-color: blue;
  }
  
} */

@media screen and (max-width: 960px) {
  .Logo {
    display: none;
  }
}

@media (max-width: 950px) {
  .marqueeTextDate {
    font-size: 0.8em;
  }
  .marquee p,
  .marquee a {
    font-family: "megalomaniac";
    font-size: 1.5rem;
    letter-spacing: 0.2em;
    padding-bottom: 20px;
  }

  @keyframes marquee {
    0% {
      left: 100%;
    }
    50% {
      left: -170%;
    }
    100% {
      left: -190%;
    }
  }
}

@media (max-width: 736px) {
  .marqueeTextDate {
    display: none;
  }

  .mainLinksText2 p {
    top: 14em;
  }
  /* .mainLinks {
    background: linear-gradient(179.4deg, rgb(6, 7, 9) -16.9%, rgb(117, 77, 130) 119.9%);
  } */

  .mainLinks a {
    padding: 0.2em 1em;
  }
  .Container h1 {
    padding-bottom: 0.6em;
  }

  .Container h2 {
    font-size: 1.35rem;
  }

  .Logo {
    display: none;
  }

  .Container {
    display: flex;
    padding: 0 1em;
    flex-direction: column;
    padding: 1em 1em 0 1em;
  }

  @keyframes marquee {
    0% {
      left: 100%;
    }
    50% {
      left: -220%;
    }
    100% {
      left: -330%;
    }
  }
}

@media (max-width: 400px) {
  .mainLinksText {
    display: none;
  }

  .Container h1,
  .Container h2 {
    font-size: 1em;
  }

  .Logo {
    display: none;
  }
}

@media (max-width: 450px) {
  .mainLinksText2 p {
    display: none;
  }

  .mainLinks a {
    padding: 0.2em 0.3em;
  }

  .marquee a {
    min-width: 20em;
    max-width: 22em;
  }

  .marquee p,
  .marquee a {
    font-family: "megalomaniac";
    font-size: 1.5rem;
    letter-spacing: 0.15em;
  }

  .latestAlbumDetails {
    font-size: 1rem;
    font-family: "helveticaNeue";
  }

  .Container h1 {
    font-size: 1.5em;
    margin: 0 0.2em;
    padding-bottom: 1em;
    font-family: "helveticaNeue";
  }

  .Container h2 {
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    font-family: "helveticaNeue";
  }
}

.marquee .marqueeone {
  animation: marquee 30s linear infinite;
}

.marquee .marqueetwo {
  animation: marquee 30s linear 15s infinite;
}

.marquee .marqueethree {
  animation: marquee 30s linear 15s infinite;
}

@media (max-width: 260px) {
  .centerText {
    font-size: 1em;
  }
}
@media (max-width: 420px) {
  .calenderMobileLink {
    display: contents;
    padding: 1em 0;
  }

  .calenderContainer {
    padding: 0.2em 0;
  }

  @keyframes marquee {
    0% {
      left: 100%;
    }
    50% {
      left: -270%;
    }
    100% {
      left: -380%;
    }
  }

  @keyframes marquee {
    0% {
      left: 100%;
    }
    50% {
      left: -490%;
    }
    100% {
      left: -590%;
    }
  }
}

@media (max-width: 330px) {
  .mainLinks a {
    padding: 0;
  }
}

@media (max-width: 300px) {
  .Logo {
    display: none;
  }

  .CenterText h1 {
    font-size: 1.2em;
    margin-top: 3.5em;
    text-shadow: white 34px 44px 44px;
  }

  .Container h2 {
    font-size: 0.9em;
    margin-top: 0.5em;
  }

  .marqueeText {
    font-size: 1.2rem;
  }

  .marqueeTextDate {
    font-size: 0.8rem;
  }

  .mainLinks {
    width: 100%;
    padding: 0.5em;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 220px) {
  .Container h1,
  .Container h2 {
    margin-top: 3.5em;
    font-size: 1rem;
  }

  .marquee {
    display: none;
  }

  .mainLinks {
    width: 80%;
    overflow: hidden;
  }
  .mainLinks a {
    padding: 0;
  }
}

@media (min-width: 1000px) {
  .logo {
    padding-top: 10vh;
    max-height: 30vh;
    max-width: 3 0vw;
  }
}
