.main {
  height: calc(100vh - 78px);
  background-image: var(--backgroundImage);
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  text-shadow: 1px 1px 10px red, 0em 0em 20px white, 0 0 0.1em black;
  font-family: "megalomaniac";
  letter-spacing: 1px;
  color: whitesmoke;
  font-size: clamp(10px, 3vw, 30px);
}
.centerTextBox {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.centerTextBox p {
  margin: 0;
}

/* .leftvideoBox {
  display: flex;
  flex-direction: column;
  justify-content: left;
} */

.centerText {
  line-height: 1px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 4vh;
}

.centerText h1 {
  font-family: "megalomaniac";
  /* font-size: clamp(10px, 4vw, 30px); */
}
.centerText h1:nth-child(1) {
  padding-top: 0.5rem;
  font-size: 6vh;
}

.centerText h1:nth-child(2) {
  font-size: 5vh;
  padding-bottom: 0.28rem;
}

.centerText h1:nth-child(4) {
  font-size: 6vh;
  margin: 0;
}

.Container a {
  font-family: "helveticaNeue";
}

.iframeContainer {
  padding-top: 2em;
}

.marquee {
  padding-top: 3rem;
  height: 4em;
  width: 100%;
  overflow: hidden;
  position: relative;
  border: solid black 2px;
  border-radius: 10px;
  background: var(--accentTransp);
  max-width: 1280px;
  text-align: center;
}

.latestAlbumDetails p {
  font-size: 1.25em;
  color: white;
  font-family: "megalomaniac";
  letter-spacing: 0.2em;
}

.thumbNailImage {
  object-fit: contain;
  width: 5.2em;
}

.marquee img {
  padding-top: 25px;
}

.marqueeText {
  color: white;
  font-family: "megalomaniac";
  letter-spacing: 0.1;
  font-size: 1.3em;
  padding-bottom: 5px;
  min-width: 17em;
  max-width: 20em;
}

.marqueeTextDate {
  color: white;
  font-family: "megalomaniac";
  letter-spacing: 0.1em;
  font-size: 0.5em;
  padding-top: 100px;
  min-width: 7em;
  max-width: 8em;
}

.marquee a {
  color: white;
  font-family: "megalomaniac";
  padding-top: 15px;
  font-size: 1.5em;
  letter-spacing: 0.15em;
  min-width: 12em;
  max-width: 16em;
}

.marqueeTextFirst {
  color: white;
  font-family: "megalomaniac";
  font-size: 1.7rem;
  letter-spacing: 0.15em;
  height: 100%;
  color: red;
}

/* Time to run over screen and delay */
.marquee .marqueeone {
  animation: marquee 19s linear infinite;
}

.marquee .marqueetwo {
  animation: marquee 20s linear 10s infinite;
}

.marquee .marqueethree {
  animation: marquee 30s linear 30s infinite;
}

/* even out the elements */
.marquee div {
  padding-top: 0.8em;
  position: absolute;
  width: 100%;
  left: 100%;
  height: 2.7em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.marquee:hover div {
  animation-play-state: paused;
}

.mainLinks {
  height: 50px;
  background: var(--accentTransp);
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  border: black 1px solid;
}

.mainLinksText p {
  display: flex;
  color: white;
  font-size: 1.5rem;
  font-family: "01digitall";
  margin: 0;

  align-self: flex-end;
}

.mainLinksText {
  height: 26px;
  display: flex;
  justify-content: center;
}

.mainLinks a {
  color: rgba(255, 255, 255, 0.689);
  padding: 0.2em 2em;
}

.mainLinksChild:nth-child(1):hover {
  color: rgba(1, 182, 164, 0.826);
  box-shadow: 3px 3px rgb(74, 251, 233);
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.227);
}

.mainLinksChild:nth-child(2):hover {
  color: rgb(248, 37, 37);
  box-shadow: 3px 3px rgb(248, 37, 37);
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.227);
}

.mainLinksChild:nth-child(4):hover {
  box-shadow: 3px 3px rgb(6, 107, 215);
  color: rgb(6, 107, 215);
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.227);
}

.mainLinksChild:nth-child(4) {
  padding-top: 0.5em;
}
.mainLinksChild:nth-child(5):hover {
  color: rgb(27, 198, 255);
  box-shadow: 3px 3px rgb(27, 198, 255);
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.227);
}

.mainLinksChild:nth-child(3):hover {
  color: rgba(244, 0, 179, 0.914);
  box-shadow: 3px 3px rgba(244, 0, 179, 0.914);
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.227);
}

.footerLinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

/* add delay at the end of animation so you dont start while another div is going */
@keyframes marquee {
  0% {
    left: 100%;
  }
  50% {
    left: -200%;
  }
  100% {
    left: -400%;
  }
}

.centerText h1 {
  font-size: 4vh;
}

@media screen and (max-width: 960px) {
  .marquee .marqueeone {
    animation: marquee 21s linear infinite;
  }

  .centerTextBox {
    flex-direction: column;
    justify-content: left;
    gap: 0;
  }

  .centerTextBox p {
    display: none;
  }
}

@media (max-width: 850px) and (max-height: 400px) {
  .centerText {
    flex-direction: row;
  }

  .centerText h1:nth-child(-n + 2) {
    padding-top: 0.5rem;
    font-size: 4vh;
    line-height: 1.2px;
  }

  .centerText h1:nth-child(1) {
    padding-top: 0.5rem;
    font-size: 5vh;
  }
}

@media (max-width: 713px), (-webkit-device-pixel-ratio: 2) {
  .centerText:nth-child(1) h1 {
    font-size: 4vh;
  }

  .footerLinks {
    align-items: center;
    display: flex;
    height: 55px;
    justify-content: center;
  }

  .marquee {
    display: none;
  }

  .centerText {
    padding-top: 20vh;
  }

  .centerText a {
    font-size: 2vh;
  }

  .centerText h1 {
    font-size: 3vh;
  }

  .mainLinksText {
    justify-content: center;
  }
}

@media (max-width: 680px) {
}

@media (max-width: 400px) {
  .mainLinksText {
    padding-right: 2vh;
  }
}

@media (max-width: 470px) {
  .main {
    height: calc(100dvh - 78px);
  }

  .mainLinks {
    justify-content: center;
  }

  .mainLinks a {
    padding: 0.2em 0.2em;
  }

  .centerText h1 {
    font-size: 2vh;
  }

  .Main {
    height: 75vh;
  }

  .centerText {
    padding-top: 15vh;
  }

  .mainLinksText p {
    align-content: center;
  }
}

@media (max-width: 390px) {
  .centerText:nth-child(2) h1 {
    font-size: 1.5rem;
    /* margin-bottom: 3vh; */
  }
}

@media (max-width: 420px) {
  @keyframes marquee {
    0% {
      left: 100%;
    }
    50% {
      left: -270%;
    }
    100% {
      left: -380%;
    }
  }

  @keyframes marquee {
    0% {
      left: 100%;
    }
    50% {
      left: -490%;
    }
    100% {
      left: -590%;
    }
  }
}

@media (max-width: 300px) {
  .centerText:nth-child(2) h1 {
    font-size: 1.2rem;
    margin-bottom: 2vh;
  }
}

@media (max-width: 240px) {
  .centerText:nth-child(2) h1 {
    font-size: 0.8rem;
    margin-bottom: 2vh;
    line-break: auto;
  }

  .mainLinks {
    flex-direction: column;
    justify-content: center;
  }
  .mainLinksText {
    padding-bottom: 12vh;
  }

  .mainLinksText p {
    font-size: 1rem;
  }
}

@media (min-width: 1000px) {
  .logo {
    padding-top: 10vh;
    max-height: 30vh;
    max-width: 3 0vw;
  }
}

@media (min-width: 1900px) {
  .centerText h1 {
    font-size: 2.5vh;
  }

  .centerText span {
    font-size: 2vh;
  }
}

@media (max-width: 640px) and (max-height: 300px) {
  .centerText {
    padding-top: 25vh;
    flex-direction: row;
  }
}

@media (max-width: 385px) and (max-height: 257px) {
  .centerText {
    display: none;
  }
}

@media (max-width: 320px) and (max-height: 142px) {
  .centerText {
    display: none;
  }
}

@media (max-width: 257px) and (max-height: 115px) {
  .mainLinksText {
    display: none;
  }
}
@media (max-width: 240px) and (max-height: 161px) {
  .mainLinksText {
    display: none;
  }

  .mainLinks {
    flex-direction: row;
    padding: 0;
  }

  .mainLinks a {
    padding: 0;
  }

  .mainLinks svg {
    height: 20px;
  }
}
