.navbarlinks {
  border-bottom: solid 1px;
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  /* background: blueviolet; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.39), rgba(48, 0, 37, 0.55)), var(--backgroundImageTop);
  transition: all 0.1s;
  box-shadow: 0.5px 0.5px 0.9px rgba(126, 126, 126, 0.46), 1.8px 1.6px 3.1px rgba(224, 224, 224, 0.161), 8px 7px 14px rgba(0, 0, 0, 0.556);
  left: 0;
  z-index: 100;
}

.navbarlinks img {
  position: absolute;
  top: 0em;
  left: 0;
  margin: 0;
  padding: 0;
  object-fit: contain;
  height: 5em;
}

.navbarlinks img:hover {
  filter: drop-shadow(10px 0px 10px rgba(255, 255, 255, 0.5));
}

.homeButton {
  display: none;
}
.goToTopButton {
  position: absolute;
  top: calc(100vh);
  left: calc(100vw - 10%);
  /* background: linear-gradient(179.4deg, rgb(6, 7, 9) -16.9%, rgb(117, 77, 130) 119.9%); */
  background: var(--releaseContainerBg);
  color: white;
}

.navbarlinks > a {
  color: var(--text-primary);
  text-shadow: 0 0 10px #ffffff;
  padding-left: 1rem;
  font-family: Megalomaniac, fantasy, serif;
  font-size: 2rem;
}

.navbarlinks a:hover {
  color: var(--text-primary-hover);
}


@media (max-width: 900px) {
  .goToTopButton {
    position: absolute;
    top: calc(100vh);
    left: calc(85vw);
  }
}

@media (max-width: 700px){
  /* .navbarlinks img {
    display: none;
  } */

  /* .homeButton {
    display:contents;
    color: var(--text-primary);
    text-shadow: 0 0 10px #ffffff;
    padding-left: 1rem;
    font-family: Megalomaniac, fantasy, serif;
    font-size: 2rem;
  } */
}

@media (max-width: 500px) {
.navbarlinks img {
  top:0.5em;
  left: 0;
  height:3em;
}

  .goToTopButton {
    font-size: 1rem;
  }
  .upcomingLink {
    display: none;
  }
}

@media (max-width: 380px) {
 

  .goToTopButton {
    padding: 0 0.5em 0 0.5em;
    left: calc(85vw);
  }
}

@media (max-width: 300px) {
  .navbarlinks a {
    font-size: 1.5rem;
    padding: 0.2rem;
  }

  .navbarlinks img {
    height: 1em;
    top:0.4em;
  }

  .navbarlinks {
    padding: 0.5em 0;
  }
}

@media (max-width: 200px) {
  .navbarlinks a {
    font-size: 1rem;
  }
}
