/* h4 {h2
  color: blueviolet;
  padding: 0;
  margin-top: 1.5rem;
  cursor: pointer;
} */

.thumbNailImageMenu {
  transform: scale(1.55) translate(0, 0%);
}

.headingLand {
  padding-left: 0.5em;
}

h2 a:hover {
  color: var(--text-primary);
  text-shadow: 0 0 10px black;
}

.artistlistMenu h2 {
  font-family: "megalomaniac";
  font-size: 1.5rem;
  text-shadow: 822px 7px 11px #000;
  background-color: red;
}

.releaseImg {
  width: 250px;
  object-fit: contain;
}

.releaseName {
  font-family: "megalomaniac";
  font-size: 2rem;
  padding-left: 0.5rem;
  letter-spacing: 0.1rem;
  text-decoration: underline solid var(--accent);
}

.tracksContainer {
  display: flex;
  font-family: "helveticaNeue";
  font-size: 16px;
  letter-spacing: 0.08rem;
  color: var(--text-primary);
  text-shadow: 0 0 10px black;
}

.musicPlayer {
  padding: 0.5rem;
}

.youtubePlayer {
  border-radius: 2rem;
  overflow: hidden;
  margin-bottom: 2rem;
}

iframe {
  border-width: 0px;
  width: 400px;
  height: 380px;
}

.youtubeEmbedBlocked {
  width: 400px;
  /* height: 380px; */
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: var(--backgroundImage);
  background-attachment: fixed;
  transition: all 0.2s;
  background-size: cover;
  background-repeat: no-repeat;
}

.releaseContainer {
  border: solid var(--releaseBorder) 2px;
  border-radius: 20px;
  background: var(--releaseContainerBg);
  color: white;
  min-width: 90%;
  margin: 0 2rem 5rem;
  padding: 3rem 1rem 1rem;
  user-select: none;
}

.tracksContainer {
  display: flex;
}

.tracklist {
  padding: 0;
}

.trackList p {
  font-family: "helveticaNeue";
  line-height: 0.5em;
  font-size: 1rem;
  color: var(--text-primary);
  text-shadow: 0 0 10px black;
}

.trackList p:nth-child(1) {
  font-size: 1.5rem;
  text-decoration: underline;
}

.readMoreText p:nth-child(1) {
  font-size: 1.2rem;
}

.readMoreText p:nth-child(2) {
  font-size: 1.5rem;
  margin: -0.5rem 0 -1.5rem;
  text-decoration: underline;
}

.readMoreText p:nth-child(3) {
  margin: 0;
}

.readMoreText p:nth-child(4) {
  font-size: 1.5rem;
  margin: 0.5rem 0 -0.5rem;
  text-decoration: underline;
}

.header {
  /* padding-top: 1rem; */
  display: flex;
  flex-wrap: wrap-reverse;
}

.heading {
  color: white;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  font-family: "Megalomaniac";
  font-size: 2.5em;
  /* width: 200px; */
}

.artistlistMenu {
  background-color: var(--releaseContainerBg);
  padding: 0em;
  display: flex;
  justify-content: right;
}

.artistlistMenu h2 {
  color: blue;
}

/* TEST */

.navMenuActive h4 {
  font-family: "megalomaniac";
  font-size: 1.8rem;
  text-align: start;
  margin: 0.2rem;
  text-decoration: underline;
  color: white;
}

.hamburgerMenu {
  margin-bottom: 2vh;
  /* position: absolute; */
  padding: 1rem;
  display: flex;
  justify-content: center;

  /* width: 12vw; */
  height: 2em;
}

.hamburgerMenu p {
  font-family: "megalomaniac";
  font-size: 2em;
  letter-spacing: 0.5vw;
  /* padding-bottom: 10rem; */
  /* margin-right: 5vw; */
  margin-top: 0;
  color: white;
}

.hamburgerMenu svg {
  /* padding-left: 2vw; */
}

.hamburgerMenu:hover {
  /* background-color: var(--accent); */
  text-shadow: 0 1px 10px black;
  /* height: 2.5rem */
  cursor: pointer;
}

/* .artistlistMenu:hover {
  background-color: var(--accentTransp);
  cursor: pointer; */
/* border-radius: 25% 0 0 25%; */
/* } */

.navItem {
  padding: 0.1rem 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-right: 0.5rem;
  margin-bottom: 0.4rem;
  border: 2px black solid;
  overflow: hidden;
}

.navItem:hover {
  transform: scale(1.02);
}

.navItem p:nth-child(1) {
  font-size: 0.566em;
  font-family: "helveticaNeue";
  width: 140px;
  height: 20px;
  margin: 0 0 0.1em;
  padding-left: 0.2em;
  color: white;
  text-align: left;
  /* position: absolute; */
  /* left: 36px;
  z-index: 130;
  top: 0px; */
  /* top: -20px; */
  /* justify-content: flex-start; */
  background-color: var(--accent);
  padding-top: 2px;
}

.navItem h3 {
  font-size: 4em;
}

/* .navItem:hover {
  background-color: var(--accentTransp);
} */

.navMenu {
  position: absolute;
  /* display: none; */
  /* left: -110%; */
  top: 200px;
  /* flex-direction: row; */
  /* background-color: rgba(0, 0, 0, 0.8);
  width: 100%; */
  /* height: 1.8rem; */
  /* z-index: 10;
  justify-content: center;
  text-align: center; */
  transition: 0.5s;
  display: none;
}
.navMenuActive {
  position: absolute;
  left: 25%;
  /* display: contents; */
  /* left: 0;
  top: 195px; */
  /* flex-direction: row; */
  background-color: var(--accent);
  border: solid 2px black;
  /* height: 1.8rem; */
  z-index: 10;
  justify-content: center;
  text-align: center;
  transition: 0.4s;
  list-style: none;
  padding: 1rem 1rem 3.6rem;
  /* border-radius: 0 5% 5% 0; */
}

.navItem svg {
  width: 15px;
  height: 20px;
}

.navItem a {
  padding: 0;
}

.navItem button {
  margin: 0em 0em 0em 1em;
  border: 0;
  padding: 0em;
  color: rgb(228, 228, 228);
  background-color: var(--accentTransp);
}

.headerMenuText {
  /* margin: 1rem; */
  /* padding: 1rem; */
  /* padding: 0; */
  margin: 0;

  /* letter-spacing: 80%; */

  font-size: 0.68em;
  display: contents;
  font-family: "helveticaNeue";
  color: white;
  /* background-color: rgba(0, 0, 0, 0.56); */
  width: fit-content;
  text-shadow: 1px 3px 20px #000000, 3px 5px 24px #000000, 11px 1px 6px #000000,
    7px 3px 22px #000000, 22px 11px 16px #000000, 1px 3px 20px #000000,
    3px 5px 24px #000000, 11px 1px 6px;
  /* font: 1.5em Georgia, serif; */
  line-height: 80%;
  /* padding-top: 4em; */
}

/* .youtubeLinkMenu {
  position: absolute;
  right: 200px;
} */

.leftReleaseMenuBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 88px;
  width: 80%;
  margin-right: 50px;
  font-size: 2em;
}

.leftReleaseMenuBox p {
  line-height: 110%;
  display: block;
  margin: 0.3rem 0 0 0.8rem;
}

.leftHeaderBox {
  background-color: rgba(190, 12, 12, 0.904);
}

.land {
  font-size: 1.5rem;
  padding-top: 0.1em;
}

.land {
  position: absolute;
  /* top: 20px;
  right: 10px; */
  z-index: 1;
  text-shadow: none;
  display: flex;
  align-items: flex-end;
  left: 92%;
  width: 1rem;
  text-shadow: 1px 3px 4px black;
}

/* TEST */
.heading:hover {
  transform: scale(1.05);
}

.headingright {
  margin-left: auto;
  width: 10%;
  padding-right: 0.5rem;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.cssFix {
  white-space: pre-wrap;
  padding: 0 0.5em;
}
.cssFix button {
  background: var(--releaseContainerStreamLinksBg);
  transition: all 0.3s ease-in-out;
}

.cssFix button:hover {
  background: var(--accent);
  transition: all 0.3s ease-in-out;
}

.readMoreContainer {
  margin: 0 1rem 1rem;
  padding: 2px;
}

.readMoreText {
  background-color: var(--releaseContainerReadMoreBg);
  padding: 1rem;
  border-radius: 20px;
  margin: 0.5rem 0;
}

.downloadHeader {
  font-family: "megalomaniac";
  font-size: 1.8rem;
  text-align: center;
  height: auto;
  margin: 0;
}

.downloadHeader > p {
  margin: 0;
  padding: 0.5em 0;
}

.streamLinks {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: all 0.5s ease;
  background-color: var(--releaseContainerStreamLinksBg);
  border-radius: 20px;
  cursor: pointer;
}

.streamLinks img {
  padding: 0.2rem;
  max-height: 2.2rem;
  padding: 0.5rem;
}
.streamLinks img:hover,
.streamLinks p:hover {
  transform: scale(1.2);
}

.streamLinks p {
  font-family: "megalomaniac";
  font-size: 1.5rem;
  margin: 0;
  color: white;
}

.loadingScreen {
  font-family: "megalomaniac";
  font-size: 4rem;
  animation: load8 1s;
  position: absolute;
  padding-top: 5rem;
}

.mobileMenu {
  display: none;
}

.inProgress {
  top: 4em;
  position: absolute;
  min-height: 80vh;
  min-width: calc(100%);
  z-index: 100;
  overflow-x: hidden;
  overflow: hidden;
  left: 0%;
  background-color: var(--accent);
  padding: 4em 0;
}

.inProgress h3 {
  margin: 5em 0;
  font-family: "megalomaniac";
  font-size: 3rem;
  margin: 0 2rem;
}

.yearSelector {
  width: calc(100% - 3rem);
  text-align: start;
  font-family: "megalomaniac";
  cursor: pointer;
  font-size: 1.5rem;
  margin: 5rem 2rem 1rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
  /* background-color: rgb(124, 54, 190); */
  background-color: var(--yearSelectorBg);
  border-radius: 20px;
  padding: 0.5rem 1rem;
  color: white;
}

.yearSelector p,
li {
  margin: 0;
  padding: 0.5rem 0;
}

.yearSelector p:nth-child(1):hover {
  /* color: blueviolet; */
  text-decoration: underline;
}

.yearSelector li:hover {
  /* color: blueviolet; */
  text-decoration: underline solid white 2px;
}

.youtubeContainer {
  width: 380px;
  padding: 0.5rem;
}

.videoRatio {
  overflow: hidden;
  /* padding: 56.25% 0 0 0; */
  position: relative;
  height: 20rem;
  width: 100%;
}

.videoInner {
  bottom: 0;
  height: 100%;
  left: 0;
  /* position: absolute; */
  right: 0;
  top: 0;
  width: 100%;
}

.thumbnailButton {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: block;
  margin: 0;
  padding: 0;
  text-decoration: none;
  bottom: 0;
  height: 100%;
  left: 0;
  /* position: absolute; */
  right: 0;
  top: 0;
  width: 100%;
}

.cssFix button {
  color: white;
  background: var(--releaseContainerBg);
}

.thumbNailImage {
  width: 100%;
  transform: scale(1.4) translate(0, 8%);
}

.playIcon {
  height: 42px;
  left: calc(50% - 30px);
  /* position: absolute; */
  /* top: calc(50% - 10px); */
  top: 50%;
  transition: all 0.3s ease-in-out;
  width: 60px;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 900px) {
  @keyframes roll {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .inProgress {
    top: 7.2em;
    /* padding: 0 0 10em 0; */
  }

  .inProgress a {
    padding: 5em 0;
  }

  .yearSelector {
    display: none;
  }

  .mobileMenu {
    display: contents;
    width: 100%;
    display: grid;
    grid-template-columns: 8% 82% 8%;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    justify-content: center;
    margin-top: 5rem;
  }

  .mobileMenu button {
    color: white;
    padding: 0;
    background: var(--releaseContainerBg);
  }

  .mobileMenu p {
    font-size: 3.5rem;
    user-select: none;
    text-align: center;
    text-decoration: underline solid var(--accent);
    animation: roll 10s infinite;
    transform: rotate(360deg);
    font-family: "megalomaniac";
  }

  .mobileMenu button {
    user-select: none;
    margin: 1em 0.3em;
  }

  .trackList p {
    font-size: 16px;
  }

  .tracksContainer {
    flex-direction: column;
    align-items: center;
  }

  .tracksContainer p {
    overflow: hidden;
  }
}

.videoRatio button {
  background-color: black;
}

@media (max-width: 600px) {
  .videoRatio {
    height: auto;
  }

  .navMenuActive {
    position: sticky;
  }

  .leftReleaseMenuBox p {
    padding-left: 10%;
  }
}

@media (max-width: 468px) {
  .headingLand {
    /* padding-left: 0.1em; */
  }

  .thumbNailImage {
    width: 100%;
    transform: scale(1.5) translate(0, 10%);
  }

  .land {
    font-size: 1.2rem;
    left: 85%;
  }
  .leftReleaseMenuBox p {
    font-size: 0.28em;
    display: block;
    line-height: 120%;
  }

  .navItem p:nth-child(1) {
    font-size: 0.3em;
  }

  .headerMenuText p {
    font-size: 0.8em;
  }

  .mobileMenu {
    grid-template-columns: 20% 60% 20%;
  }

  .heading {
    padding: 0;
    font-size: 1.8rem;
    letter-spacing: 0.1px;
  }
  .yearSelector {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .downloadHeader {
    padding: 0.5em 0;
    font-size: 1.5rem;
  }

  .trackList p {
    font-size: 1rem;
  }

  .releaseContainer {
    padding: 2.5rem 0;
    margin: 2rem 1rem 0;
    min-width: none;
  }

  .musicPlayer {
    padding: 1rem 0;
  }

  .tracksContainer {
    letter-spacing: normal;
  }

  iframe {
    width: 250px;
    height: 280px;
  }
  .youtubeEmbedBlocked {
    all: unset;
  }
  .youtubeContainer {
    padding: 0;
    width: 300px;
  }

  .yearSelector p,
  li {
    font-size: 1.7rem;
  }
}

@media (max-width: 350px) {
  .inProgress h3 {
    font-size: 2rem;
  }
}

@media (max-width: 323px) {
  .thumbNailImage {
    width: 100%;
    transform: scale(1.9) translate(0, 12%);
  }

  .inProgress {
    height: 105vh;
  }

  .inProgress h1 {
    padding-top: 10em;
  }

  .trackList p {
    font-size: 12px;
  }

  .readMoreText {
    padding: 0.1rem;
  }

  iframe {
    width: 150px;
    height: 180px;
  }

  .youtubeContainer {
    padding: 0;
    width: 200px;
  }

  /* .youtubeEmbedBlocked {
    width: 150px;
    height: 180px;
  } */

  .streamLinks p {
    padding-right: 0.2em;
    font-size: 1rem;
    /* max-height: 1.2rem; */
  }

  .streamLinks p:active {
    transition: none;
  }

  .youtubePlayer {
    padding: 0;
  }

  .header p {
    font-size: 0.7em;
  }

  .header {
    text-align: center;
    width: 80%;
    margin: auto;
  }

  /* h2 a {
    font-family: "megalomaniac";
    font-size: 1.3rem;
  } */

  .loadingScreen {
    font-size: 1.5rem;
  }
}
