.backButton button {
  margin: 3em 2em;
  width: 5em 1.8em;
  font-family: "01digitall";
  /* padding: 0.5em 3em; */
  border-radius: 10px;
  letter-spacing: 2px;
}

.goToTopButton {
  display: none;
}

.resultsContainer {
  padding-top: 5em;
  /* height: 100; */
  /* background: var(--backgroundImage);   */
  /* background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; */
  color: var(--text-primary);
  text-shadow: 0 1px 1px black;
  background-image: var(--backgroundImage);

  min-height: 100vh;
}

.resultsList {
  list-style: none;
  padding: 0;
}

.resultItem {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #eee;
  border-radius: 4px;
}

.resultItem h3 {
  margin: 0 0 10px;
  color: --;
}

.resultItem ul {
  list-style: disc;
  padding-left: 20px;
}

.container {
  padding-top: 5em;
  /* height: 100; */
  background: var(--backgroundImage);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--text-primary);
  text-shadow: 0 1px 1px black;
}

.djMixContainerThumbnail {
  width: 240px;
  overflow: hidden;
  border: solid 4px var(--releaseContainerReadMoreBg);
}

.imageContainerYoutubeImage {
  /* width: 420px; */
  padding: 2em;
  overflow: hidden;
  /* border: solid 4px var(--releaseContainerReadMoreBg); */
  border-radius: 10px;
}

.appearsOnSectionContain {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

/* .appearsOnSection:hover {
  transform: scale(1.05);
} */
.appearsOnSection p {
  font-size: 4.8vh;
}

/* .appearsOnSectionText {
  color: red;
} */


.appearsOnSectionLong:hover {
  transform: scale(1.05);
}

.appearsOnSectionHeader {
  display: flex;
  justify-content:center;
  align-items: center;
  height: 5em;
  background-color: var(--releaseContainerHeaderBg);
  font-family: "01digitall";
   color: var(--text-primary);
      text-shadow: 0 0 5px black;
  font-weight: bolder;
  letter-spacing: 0.1em;
  padding-top: 1em;
  padding-bottom: 0.5em;
}

.cssFix {
  white-space: pre-wrap;
  padding: 0 0.5em;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  object-fit: cover;
  background-blend-mode: screen;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /* backdrop-filter: hue-rotate(30deg) blur(3px); */
  backdrop-filter: blur(10px);
}

.box {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  font-family: sans-serif;
  text-align: center;
  line-height: 1;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  width: 100%;
  height: 100%;
}

.headerTopContainer img {
  filter: none;
  width: 100%;
}

.headerTopContainer {
  height: 27vh;
  position: absolute;
  /* width: 100%; */
  /* max-width: 800px; */
  z-index: 10;
}

.headerImageTop {
  height: 26vh;
  object-fit: contain;
  border-radius: 20px;
  box-shadow: 5px 2px 2px rgba(0, 0, 0, 0.562);
  margin-top: 0.3em;
}

.artistHeader {
  display: flex;
  justify-content: space-around;
  color: var(--text-primary);
  text-shadow: 0 0 5px black;
}

.locationContainer {
  display: flex;
  justify-content: center;
  margin-right: 2em;
  padding: 0;
}

.locationContainer li:first-child {
  list-style: none;
  padding: 0;
  font-size: 2em;
  font-family: "01digitall";
}

.thumbNailImage {
  border-radius: 20px;
  box-shadow: 4px 2px 2px var(--accentTransp);
  width: 100%;
/* transform: scale(1) translateY(11%) translateX(-25%); */
}

.imageContainerYoutubeImage:hover {
  transform: scale(1.2) translate(0, 0%);
  transition: all 0.7s ease-in-out;
}

.djMixes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.djMixElements {
  margin: 0.7em;
  transition: all 1s ease-in-out;
}

.thumbNailImageMix {
  border-radius: 20px;
  box-shadow: 4px 2px 2px var(--accentTransp);
  width: 15em;
  margin: 1em;
  width: 100%;
  transform: scale(1.66) translate(-4.4%, 0%);
}

.appearsOnSection h1 {
  font-family: "01digitall";
  /* color: var(--text-primary);
   */
  color: white;
  font-weight: bolder;
  margin-bottom: -3em;
  letter-spacing: 0.1em;
  /* padding-top: 1em; */

}

.artistHeader h2,
.artistHeader h1,
.appearsOnSectionLong p,
.appearsOnSection p,
.locationContainer h2,
.locationContainer h3 {
  font-family: "01digitall";
  /* color: var(--text-primary);
   */
  color: white;
  font-weight: lighter;
  margin-bottom: 0;
  letter-spacing: 0.1em;
}

.artistText h2 {
  font-family: "01digitall";
}

.artistText p {
  font-family: "megalomaniac";
  font-size: 3rem;
  color: var(--text-primary);
}

.artistText p:nth-child(1) {
  font-size: 1rem;
  font-family: "01digitall";
  font-weight: bolder;

  letter-spacing: 0.1em;
}

.artistText {
  background-color: var(--releaseContainerReadMoreBg);
  max-width: 800px;
  margin: auto;
  padding: 2em;
  border-radius: 20%;
}

.appearsOnSection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2em;
  position: relative;
  margin-bottom: 3em;
  padding: 1em;
  text-shadow: 0 0 10px black;
}


.streamLinks p {
  font-size: 16px;
}

.appearsOnSectionLong {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* padding-bottom: 2em; */
  padding-left: 2em;
  position: relative;
  margin-bottom: 3em;
  /* padding: 1em; */
  /* letter-spacing: 0; */
  text-shadow: 0 0 10px black;
}

.appearsOnSectionLong :nth-child(1) p {
  font-size: 1.2em;
  /* max-width: 30ch; */
  word-wrap: break-word;
  max-width: 420px;
}

.appearsOnSectionLong :nth-child(2) p {
  padding: 0 0.1em;
  font-size: 1.5em;
}

.albumReleaseNameStream {
  z-index: 2;
  /* top: -5%; */
  /* position: absolute; */
  transition: all 0.5s ease;
  background-color: var(--releaseContainerStreamLinksBg);
  border-radius: 20px;
  font-size: 1.5rem;
  padding: 0.25em;
  border: var(--text-primary) 1px solid;
  min-height: 42px;
  text-align: center;
  justify-content: center;
}

.streamLinks {
  position: absolute;
  top: 91%;
  width: 20em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: all 0.5s ease;
  background-color: var(--releaseContainerStreamLinksBg);
  border: var(--text-primary) 1px solid;
  border-radius: 20px;
  cursor: pointer;
}
.streamLinks img {
  padding: 0.2rem;
  max-height: 2.2rem;
  padding: 0.5rem;
}
.streamLinks img:hover,
.streamLinks p:hover {
  transform: scale(1.2);
}

.streamLinks p {
  font-family: "megalomaniac";
  font-size: 1.5rem;
  margin: 0;
  color: white;
}
.artistLinkContainer {
  position: relative;
}

.artistLinks {
  bottom: 0.5em;
  left: 0.2em;
  position: absolute;
}

.artistLinks button {
  margin: 0 0.2em;
  padding: 0.2em;
  color: white;
  background-color: var(--accentTransp);
}

.footerBackLink {
  /* background-color: blue; */
  padding: 3em;
  margin: 0;
}

.yearInfo {
  position: relative;
  top: 50%;
  height: 2em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: end;
  /* align-items: center; */
  /* transition: all 0.5s ease; */
  z-index: 10;
}

.yearInfo p:nth-child(2) {
  padding: 0.3rem;
  font-family: "megalomaniac";
  font-size: 1.4rem;
  color: black;
  background-color: var(--releaseContainerStreamLinksBg);
  border: var(--text-primary) 1px solid;
  border-radius: 10px;
  color: white;
}

.yearInfo p:nth-child(1) {
  padding: 0.1em 0.5em;
  font-family: "megalomaniac";
  font-size: 1.3rem;
  margin-bottom: 6em;
  margin-right: 85%;
  color: black;
  /* background-color: var(--releaseContainerStreamLinksBg); */
  background-color: black;
  border: black 1px solid;
  border-radius: 10px;
  color: white;
}

@media (max-width: 785px) {
  .thumbNailImageMix {
    width: 15em;
    margin: 0.5em;
  }
  .albumReleaseNameStream {
    margin: 0 5%;
  }
}

@media (max-width: 570px) {
  .imageContainerYoutubeImage {
    /* width: 280px; */
    overflow: hidden;
    border: solid 4px var(--releaseContainerReadMoreBg);
    border-radius: 30px;
   
  }

  .thumbNailImage {
    border-radius: 20px;
    box-shadow: 4px 2px 2px var(--accentTransp);
    width: 100%;
    /* transform: scale(1) translateY(11%) translateX(-25%); */
  }

  .appearsOnSection :nth-child(2) p {
    font-size: 1em;

    word-wrap: break-word;
    max-width: 320px;
  }

  .appearsOnSectionLong :nth-child(2) p {
    font-size: 1em;
    word-wrap: break-word;
    max-width: 320px;
  }

  .appearsOnSectionLong :nth-child(1) p {
    font-size: 1em;
    /* max-width: 30ch; */
    word-wrap: break-word;
    max-width: 320px;
  }

  .appearsOnSectionLong {
    padding: 1em;
  }

  .albumReleaseNameStream {
    min-height: 20px;
  }

  .artistText {
    font-size: 0.8em;
  }

  /* .appearsOnSection h1 {
    margin-bottom: 0.2em;
  } */

  /* .thumbNailImage {
    width: 22em;
  } */
  .thumbNailImageMix {
    width: 12em;
    margin: 0.5em;
  }
  .yearInfo p:nth-child(1) {
    margin-bottom: 3em;
  }
}

@media (max-width: 410px) {
 .resultsContainer h1,p,a,li{
font-size: 1em;
padding: 0.2em;
  }


.streamLinks a,img, p {
  padding:0;
  margin: 0;
  font-size: 0.8em;
  padding: 0.2em;
}

  .locationContainer h2,
  .locationContainer h3 {
    font-size: 1em;
  }

  .imageContainerYoutubeImage {
    width: 250px;
    overflow: hidden;
    border: 0;
    /* border-radius: 10px; */
  }

  .appearsOnSection :nth-child(2) p {
    font-size: 1em;
    /* max-width: 30ch; */
    word-wrap: break-word;
    max-width: 320px;
  }

  .appearsOnSectionLong :nth-child(2) p {
    font-size: 1em;
  }

  .appearsOnSectionLong :nth-child(1) p {
    font-size: 1.2em;
    /* max-width: 30ch; */
    word-wrap: break-word;
    max-width: 320px;
  }

  .appearsOnSection {
    padding-bottom: 0;
  }
  .appearsOnSection h1 {
    margin-bottom: 0.2em;
  }
  .thumbNailImage {
    /* width: 32em; */
    /* border: solid 2px var(--accentTransp); */
    align-items: center;
  }
  .thumbNailImageMix {
    width: 9em;
    margin: 0.5em;
  }

  .artistHeader h1 {
    font-size: 1.1em;
  }
  .artistHeader h2 {
    font-size: 0.9em;
  }

  .headerImageTop {
    height: 20vh;
    margin-top: 1.5em;
  }

  .appearsOnSection h1 {
    font-size: 1.2em;
  }

  .albumReleaseNameStream {
    font-size: 1em;
    top: -10%;
  }

  .streamLinks {
        width: 265px;
   
        padding: 0;
    top: 96%;
    justify-content: center;
  }

  /* .streamLinks p {
    font-size: 1em;
    padding: 0.4em;
  } */

  .yearInfo p {
    font-size: 1em;
  }
}
