.searchContainer {
  /* position: absolute;
  top: calc(52vw);
  left: calc(40vw - 20%); */
  /* background: linear-gradient(179.4deg, rgb(6, 7, 9) -16.9%, rgb(117, 77, 130) 119.9%); */
  /* background: var(--releaseContainerBg); */
  color: white;
  margin: 1em;
}

.searchInput {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 40vh;
}

.searchButton {
  background: var(--releaseContainerBg);
  color: white;
  letter-spacing: 2px;
  font-size: 3vh;
  padding-block: 0.5vh;
}

.searchButton:hover {
  background: var(--releaseContainerStreamLinksBg);
  color: white;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

input {
  font-weight: bold;
  font-size: 2.4vh;
  letter-spacing: 1px;
  font-family: "01digitall";
}

@media (max-width: 767px) and (min-height: 600px) {
  .searchInput {
    width: 80vw;
    margin: 16vh 0 0 0;
  }

  .searchButton {
    font-size: 5vh;
    padding-block: 0.5vh;
    margin: 0 0 16vh 0;
  }
}

@media (max-width: 390px) {
  .searchInput {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 23vh;
    margin: 16vh 0 0 0;
  }

  .searchButton {
    background: var(--releaseContainerBg);
    color: white;
    letter-spacing: 1px;
    font-size: 4vh;
    padding-block: 0.2vh;
    margin: 0 0 16vh 0;
  }
}
@media (max-width: 240px) {
  .searchInput {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 15vh;
    margin: 16vh 0 0 0;
  }

  .searchButton {
    background: var(--releaseContainerBg);
    color: white;
    letter-spacing: 1px;
    font-size: 3vh;
    padding-block: 0.2vh;
    margin: 0 0 16vh 0;
  }
}
